<!doctype html>
<html lang="en">
<head>
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta charset="UTF-8">
    <title>Device model editor</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  
<script>
angular.module('editor', [])
.controller('devices', function Model($http, $scope) {
  console.log('hi')
  $scope.models = []
 
  $http({
    method: 'GET',
    url: 'https://rabih.scriptrapps.io/devices/backend/listScripts'
  }).then(function successCallback(response) {
    $scope.models = response.data.response.result 
  }, function errorCallback(response) {
    // called asynchronously if an error occurs
    // or server returns response with an error status.
  });

  	$scope.save() = function() {
      
    }
  
  $scope.$watch('models', function(newVal, oldVal) {
  console.log('loaded')
  	console.log(newVal)
  })
}).controller('form', function Form($scope) {
  
})
</script>

</head>
<body >
  <hr>

    <div ng-app="editor" ng-controller="devices">
    <form>
        <h3>form</h3>
          Checkbox: <input type="checkbox" ng-model="checkbox" /> </br>
        Input: <input ng-model="input" />
          <input type="button" ng-click="save()" /> </br>
    </form>
  <div>  {{ checkbox }} {{ input }} </div> 
  	<div ng-repeat="model in models">
  		{{model}}
	</div>
  </div>

  
  </body>
</html>
